.button {
    margin: 0 4px 8px 4px;
    border-radius: 3px;
    height: 43px;
    padding: 18px 25px;
    background-color: #E8833A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.button:hover {
    cursor: pointer;
}

.button span {
    color: white;
    font-size: 18px;
    font-weight: 400;
}