.bloco-info {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.bloco-info-title {
    margin-bottom: 15px;
}

.bloco-info-title span {
    font-size: 24px;
    font-weight: 700;
    color: #293845;
    text-align: left;
}

.bloco-info-info {
    display: flex;
    flex-flow: column;
}

.bloco-info-info span {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
    color: #293845;
}